nav{
  !important;
}
img {
    display: block;
    max-width: 100%;
}
.bg-light {
    background-color: #bdfea2!important;
}
.btn-primary {
    color: black !important;
}
.navbar-brand {
    padding-right: 13px;
    border: 4px solid white !important;
}
.navbar-brand img {
    display: block;
    max-width: 100%;
    height: 80px !important;
}
.btn-secoundary {
    border: 3px solid white !important;
    border-radius: 0 !important;

}

.jumbotron {
    border-radius: 0!important;
}
